html {
  font-family: Arial
}
.logo {
  background: url(../images/logo.svg);
  display: block;
  width: 200px;
  height: 96px;
  margin: 24px auto;
}
.sentence {
  width: 960px;
  background: #eee;
  margin: 32px auto 0;
  border-radius: 12px;
  padding: 32px;
  text-align: center;
  color: #444;
  position: relative;
  box-sizing: border-box;
}
.sentence::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 16px 10px;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -15px;
  right: 50%;
}
@media only screen and (max-width: 700px) {
  .sentence {
    width: calc(100% - 48px);
  }
}
@media only screen and (min-width:701px) and (max-width: 1023px) {
  .sentence {
    max-width: 960px;
    width: calc(100% - 64px);
  }
}